.modal-dialog {
    max-width: 90vw; /* モーダルの最大幅を画面幅の90%に設定 */
    max-height: 90vh; /* モーダルの最大高さを画面高さの90%に設定 */
}

.modal-content {
    height: 100%;
}

.modal-body {
    overflow-y: auto; /* コンテンツがモーダル内に収まりきらない場合にスクロール可能にする */
    max-height: 80vh; /* モーダルのコンテンツエリアの最大高さを設定 */
}

.carousel-item img {
    max-height: 70vh; /* 画像の高さを画面の70%に制限 */
    object-fit: contain; /* 画像をモーダル内に収めるためにアスペクト比を保ちながら収める */
}

body.light-mode {
    background-color: #fff;
    color: #222;
}
body.dark-mode {
    background-color: #181a1b;
    color: #eee;
}
body.dark-mode .form-control,
body.dark-mode .form-group,
body.dark-mode .table,
body.dark-mode .modal-content {
    background-color: #23272b !important;
    color: #eee !important;
    border-color: #444 !important;
}
body.light-mode .form-control,
body.light-mode .form-group,
body.light-mode .table,
body.light-mode .modal-content {
    background-color: #fff !important;
    color: #222 !important;
    border-color: #ccc !important;
}

body.dark-mode .bg-light {
    background-color: #23272b !important;
    color: #eee !important;
    border-color: #444 !important;
}