{% extends "base3.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center mt-5">タスクのキャンセル</h2>
                <p class="mt-4">{{ success_message }}</p>
                <p><strong>タスクID:</strong> {{ task_id }}</p>
                <div class="mt-4">
                    <a href="/" class="btn btn-primary">戻る</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}